body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";  
}
.nav_bg {
    background-color: #38404e;
}

.navbar-brand {
    padding:0px 0px;
}

.common_color {
    color: #fff;
}
.logo_link:hover {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.nav_logo {
    color: #fff;
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0;
}

small {
    font-size: 68%;
}

.koi {
    color: #2ddbac;
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0;
}

.carousel-control-prev-icon {
    background-image: none;
}

.carousel-control-next-icon {
    background-image: none;
}

.carousel-indicators li {
    width: 17px;
    height: 15px;
    border-radius: 100%;
}

.common_colorTwo {
    color: #2ddbac;
}

.carousel-caption {
    right: 6%;
    margin-bottom: 12rem;
    margin-left: 8.25rem;
}

h2 {
    font-weight: bold;
    letter-spacing: 0;
    line-height: 2.25rem;
    padding-left: 43px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.image {
    width: 40% ;
}

.text_edit {
    font-size: 20px;
    color: black;
}

.benefit_title {
    font-size: 30px;
    font-weight: bolder;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.benefit_details {
    font-size: 22px;
    color: black;
    font-weight: 500;
}

.about_modify {
    color: #2ddbac; 
    font-size: 2rem;
}

.bari_logo {
    color: #314464;
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0;
}

.about_text {
    font-size: 20px;
    color: black;
    line-height: 40px;
    font-weight: 400;
}

h6 {
    color: #2ddbac;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0;
}

.icon_modify {
    font-size: 30px;
}

.mb-0 > a {
    display: block;
    /* position: relative; */
  }
  .mb-0 > a:after {
    content: "\f078"; 
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
  }
  .mb-0 > a[aria-expanded="true"]:after {
    content: "\f077";
  }

  

@media screen and (max-width: 768px) {
    .logo_link div {
        padding-left: 0 !important;
    }
    .about_text {
        text-align: center;
    }
}